sphinx
sphinxcontrib-programoutput
sphinx-rtd-theme
ipykernel
nbsphinx
opencv-python-headless
PyExifTool
git+https://github.com/localdevices/py360convert.git
git+https://github.com/localdevices/ODMax.git